body {
  background-color: #f4f7f6;
  font-family: 'Noto Sans Hebrew', sans-serif;
}

/* Styles for admin login and dashboard */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  margin-bottom: .5em;
  color: #333333;
  font-weight: bold;
}

form input {
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

form button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.main-header {
  background-color: #343a40;
  color: white;
  padding: 15px 0;
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header .header-formsearch input {
  border: 2px solid #ced4da;
  border-radius: 50px;
}

.main-header .header-formsearch button {
  border: none;
  background: none;
  color: #495057;
}

.main-content-body {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  margin-top: 20px;
}

.header-text {
  text-align: center;
  color: black;
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #333333;
}

.header-text h1 {
  font-size: 4em;
  font-weight: bold;
  margin-top: 20px;
}

.header-text h4 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 50px;
}

.header-text h5 {
  font-size: 1.2em;
  font-weight: normal;
  color: gray;
  margin-top: 10px;
}

.carousel .carousel-inner img {
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
}

.breadcrumb {
  background: none;
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.btn {
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.main-footer a {
  color: #ffd700;
  text-decoration: none;
}

.main-footer a:hover {
  text-decoration: underline;
}

select.form-control {
  border-radius: 50px;
}

.time-slot {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.time-slot.show {
  display: block;
  opacity: 1;
}

#timeSlots button {
  display: inline-block;
  width: 120px;
  margin: 10px;
  padding: 15px;
  background-color: #f4f7f6;
  color: black;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

#timeSlots button:hover {
  background-color: #e2e6ea;
  transform: translateY(-3px);
}

#timeSlots button:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.custom-breadcrumb {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px 15px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.custom-breadcrumb-item {
  font-size: 2em;
  color: #007bff;
  margin: 0 5px;
}

.custom-breadcrumb-item.active {
  font-weight: bold;
}

.custom-breadcrumb-item::before {
  content: '';
}

.custom-breadcrumb-item + .custom-breadcrumb-item::before {
  content: '>';
  color: #6c757d;
  margin: 0 5px;
}
